body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
	display: block;
	margin: 0 auto;
}

.hangman-img-container img{
	height: 250px;
}

.form-control {
	width: 100px;
}